{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "OpenAPI Spec for Stars End point",
    "description": "This is a sample set of APIs exposed for Stars. Note-> Header needs to have bearer token for authentication & authorization",
    "contact": {
      "email": "apiteam@americanportfolios.com"
    }
  },
  "servers": [
    {
      "url": "http://api-tst.americanportfolios.com"
    }
  ],
  "tags": [
    {
      "name": "Money Manager",
      "description": "Money manager details"
    },
    {
      "name": "Model",
      "description": "Model details"
    },
    {
      "name": "Stars login",
      "description": "login to stars api"
    },
    {
      "name": "Create instruction",
      "description": "to create instruction"
    },
    {
      "name": "Get all instructions",
      "description": "to get all instruction"
    }
  ],
  "paths": {
    "/homeport/str/1.0/moneymanager": {
      "get": {
        "tags": [
          "Money Manager"
        ],
        "summary": "get money manager details based on productid",
        "parameters": [
          {
            "name": "productid",
            "in": "query",
            "description": "productid for fetching money manager info",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 212
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Manager"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Manager"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid productid provided"
          },
          "404": {
            "description": "productid not found"
          }
        }
      }
    },
    "/homeport/str/1.0/model": {
      "get": {
        "tags": [
          "Model"
        ],
        "summary": "get model manager details based on productid & moneymanagerid",
        "parameters": [
          {
            "name": "productid",
            "in": "query",
            "description": "productid for fetching model manager info",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 212
          },
          {
            "name": "moneymanagerid",
            "in": "query",
            "description": "moneymanagerid for fetching model manager info",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 30
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid productid or moneymanagerid provided"
          },
          "404": {
            "description": "productid or moneymanagerid not found"
          }
        }
      }
    },
    "/ap/login": {
      "post": {
        "tags": [
          "Stars login"
        ],
        "summary": "Login to get token",
        "requestBody": {
          "description": "username and password",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/token"
                }
              }
            }
          }
        }
      }
    },
    "/homeport/str/1.0/instruction": {
      "post": {
        "tags": [
          "Create instruction"
        ],
        "requestBody": {
          "description": "To create instruction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/instruction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "instruction created",
            "content": {}
          }
        }
      },
      "get": {
        "tags": [
          "Get all instructions"
        ],
        "responses": {
          "200": {
            "description": "instructions fetched successfully",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Manager": {
        "type": "object",
        "properties": {
          "productid": {
            "type": "integer",
            "format": "int32",
            "example": 212
          },
          "moneymanagerid": {
            "type": "integer",
            "format": "int16",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Advisors Capital Management"
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "modelportfoliosid": {
            "type": "integer",
            "format": "int32",
            "example": 317
          },
          "moneymanagerid": {
            "type": "integer",
            "format": "int16",
            "example": 30
          },
          "productid": {
            "type": "integer",
            "format": "int32",
            "example": 212
          },
          "modelname": {
            "type": "string",
            "example": "Dynamic Equity Income"
          }
        }
      },
      "user": {
        "required": [
          "username password"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "stars"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "starspassword"
          }
        }
      },
      "token": {
        "properties": {
          "accessToken": {
            "type": "string"
          }
        }
      },
      "instruction": {
        "required": [
          "name instruction_type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "example": "set target for account 0A1567342"
          },
          "instruction_type": {
            "type": "string",
            "enum": [
              "modalsetup modalupdate billingsetup"
            ]
          },
          "status": {
            "type": "string",
            "description": "instruction status in the queue",
            "enum": [
              "new pending execution executed cancelled error"
            ]
          },
          "instruction_json": {
            "type": "object",
            "properties": {
              "account_id": {
                "type": "string"
              },
              "modal_id": {
                "type": "string"
              }
            }
          }
        },
        "xml": {
          "name": "instruction"
        }
      }
    },
    "securitySchemes": {
      "ap_tst_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://login-tst.americanportfolios.com/",
            "scopes": {
              "write:instructions": "modify instructions",
              "read:instructions": "read instructions"
            }
          }
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  }
}